.wrapper {
  display: flex;
flex-direction: column;
align-items: center;
padding: 64px 112px;
gap: 24px;

position: absolute;
width: 1440px;
height: 998px;
left: 0px;
top: 0px;


}

@media screen and (max-width: 375px) 
{
  .wrapper {
  position: relative;
  width: 375px;
  height: 1088px;
  overflow-y: scroll;
  
  background: #FFFFFF;

  }

  
}




.content {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 56px;

width: 1152px;
height: 774px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;

}

@media screen and (max-width: 375px) {
  .content {
    isplay: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 343px;
height: 700px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
  }
}

.main__section {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 32px;
  gap: 32px;
  
  width: 1216px;
  height: 774px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  
}

@media screen and (max-width: 375) {
  .main__section{ display: flex;
flex-direction: column;
align-items: center;
padding: 64px 0px 32px;
gap: 24px;

position: absolute;
width: 375px;
height: 892px;
left: 0px;
top: 0px;

/* Base/White */

background: #FFFFFF;
}
 }


.profile__section {
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;
isolation: isolate;

width: 1152px;
height: 142px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

@media screen and (max-width: 375px) {
  .profile__section {
    width: 343px;
  }
}
.profile__img {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 88px;
height: 88px;

background: url(./asset/images/profile__img.png);
border-radius: 275px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

.twitter {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 8px;

width: 1152px;
height: 30px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;
}

@media screen and (max-width: 375px) {
  .twitter {
    width: 343px;
  }
}

.text {
  width: 1152px;
height: 30px;

/* Text xl/Bold */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */

text-align: center;

/* Gray/900 */

color: #101828;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;


}

@media screen and (max-width: 375px) {
  .text {
    width: 343px;
    height: 28px;
    
    /* Text lg/Bold */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
  }
 }

.avatar__share-button {
  /* _Avatar share button */


position: absolute;
width: 40px;
height: 40px;
right: 208px;
top: -20px;
margin-top: 2rem;

/* Base/White */

background: #FFFFFF;
/* Gray/300 */

border: 1px dashed #D0D5DD;
border-radius: 20px;

/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
z-index: 2;
}

@media screen and (max-width: 375px) {
  .avatar__share-button {
    right: 0px;
  }
}

.content__button {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px;

position: absolute;
left: 15%;
right: 15%;
top: 15%;
bottom: 15%;

border-radius: 12px;
}

.share {
  width: 20px;
height: 20px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.icon {
  position: absolute;
  left: 12.5%;
  right: 11.53%;
  top: 14.95%;
  bottom: 14.95%;
  
  /* Gray/400 */
  
  border: 1.66667px solid #98A2B3;
}

.link__section {
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 1152px;
height: 576px;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

@media screen and (max-width: 375px) {
  .link__section {
    width: 343px;
height: 528px;

  }
}

.links {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 12px;

width: 1152px;
height: 76px;

/* Shadow/xs */

filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));

/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

@media screen and (max-width: 375px) {
  .links {
    width: 343px;
height: 68px;
overflow-x: scroll;

  }
}

.link__text {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 24px 32px;
gap: 8px;

width: 1152px;
height: 76px;

/* Gray/200 */

background: #EAECF0;
/* Gray/200 */

border: 1px solid #EAECF0;
border-radius: 8px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}

.links a {
  text-decoration: none;
  width: 101px;
height: 28px;

/* Text lg/Medium */

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */

display: flex;
align-items: center;
text-align: center;

/* Gray/900 */

color: #101828;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

/* button {
  background-color: pink;
  
display: flex;
align-items: center;
text-align: center;
} */

.social__link {
  display: flex;
flex-direction: column;
align-items: center;
padding: 24px 0px;
gap: 64px;

width: 1216px;
height: 72px;

/* Base/White */

background: #FFFFFF;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

@media screen and (max-width: 375px) {
  .social__link {
    width: 375px;
height: 72px;
  }
}

.container {
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px 32px;
gap: 32px;

width: 1216px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

@media screen and (max-width: 375px) {
  .container {
    width: 375px;
height: 24px;
  }
}

.link__content {
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

width: 1152px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

@media screen and (max-width: 375px) {
  .link__content {
    width: 343px;
height: 24px;

  }
}

.social__icon {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 24px;

width: 1152px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
}
@media screen and (max-width: 375px) {
  .social__icon {
    width: 343px;
height: 24px;
  }
}

.slack {
  width: 24px;
height: 24px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.git {
  width: 24px;
  height: 24px;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer {
  display: flex;
flex-direction: column;
align-items: center;
padding: 48px 0px;
gap: 64px;

position: absolute;
width: 1440px;
height: 160px;
left: 0px;
top: 998px;

/* Base/White */

background: #FFFFFF;
}

@media screen and (max-width: 375px) {
  .footer {
    width: 375px;
height: 196px;
top: 892px;
  }
}


.footer__container {
  /* Auto layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 32px;
gap: 32px;

width: 1280px;
height: 64px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

@media screen and (max-width: 375px) {
  .footer__container {
    width: 375px;
height: 132px;

  }
}



.footer__content {
  display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 32px 0px 0px;
gap: 32px;

width: 1216px;
height: 64px;

/* Gray/200 */

border-top: 1px solid #EAECF0;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

@media screen and (max-width: 375px) {
  .footer__content {
    width: 343px;
height: 132px;
  }
}

.footer__image {
  width: 187.59px;
height: 32px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
@media screen and (max-width: 375px) {
  .footer__image {
    width: 140.69px;
height: 24px;
  }
}
.footer__text {
  width: 832.28px;
height: 24px;

/* Text md/Normal */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

/* Gray/500 */

color: #667085;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
}

@media screen and (max-width: 375px) {
  .footer__text {
    width: 213px;
height: 20px;
  }
}

.footer__image-2 {
  width: 132.13px;
height: 32px;



/* Inside auto layout */

flex: none;
order: 2;
flex-grow: 0;
}

@media screen and (max-width: 375px) {
  .footer__image-2 {
    width: 99.1px;
height: 24px;
  }
}