.content {
  display: flex;
flex-direction: column;
align-items: center;
padding: 64px 112px;
gap: 24px;

position: absolute;
width: 1440px;
height: 998px;
left: 0px;
top: 0px;

}

.main__section {
  /* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px 32px;
gap: 32px;

width: 1216px;
height: 774px;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}